@charset "utf-8";

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;

// Extra small screen / phone
$screen-xs-min:              480px !default;
// Small screen / tablet
$screen-sm-min:              768px !default;
// Medium screen / desktop
$screen-md-min:              992px !default;
// Large screen / wide desktop
$screen-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin screen-media($type) {

  @if $type == xs {
    @media (max-width: $screen-xs-max) { @content; }
  } @else if $type == sm-only {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) { @content; }
  } @else if $type == sm-up {
    @media (min-width: $screen-sm-min) { @content; }
  } @else if $type == md-only {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
  } @else if $type == md-up {
    @media (min-width: $screen-md-min) { @content; }
  } @else if $type == lg {
    @media (min-width: $screen-lg-min) { @content; }
  }

}

@import "recomeco/base";
@import "recomeco/syntax-highlighting";
